@import '../../scss/index.scss';

.header {
  .ui.container {
    width: 100% !important;
  }
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  background-color: $background-light;
  z-index: 1;

  &__logo {
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
  }
  img {
    height: 25px;
  }
}
